<!DOCTYPE html>
<html>
  <head>
    <title>Screensharing App</title>
  </head>
  <body>
    <h1>Screensharing App</h1>
    <p>Welcome to the screensharing app!</p>
    <a href="/create">Create a new room</a>
    <br>
    <br>
    <form action="/room">
      <label for="roomId">Join an existing room:</label>
      <br>
      <input type="text" id="roomId" name="roomId" placeholder="Enter room ID">
      <br>
      <br>
      <button type="submit">Join room</button>
    </form>
  </body>
</html>

